.cuadros {
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    font-family: var(--main-font);
    border: 0px solid white;

}

.cuadro {
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    max-width: 250px;


    &:hover {
        color: var(--color-especial);
        cursor: pointer;
        background-color: rgb(29, 29, 29);
    }
}

.lorax {
    width: 80%;
    margin-top: 20px;
    max-width: 100px;
}