.cuadros-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cuadros {
    max-width: 80%;
    display: flex;
    flex-direction: row;   
    gap: 5px;
    row-gap: 5px;
    font-family: 'Poppins', sans-serif;
    border: 0px solid white;
    width: 100%;
    margin-bottom: 5px;
}

.cuadro {
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    width: 100%;
    &:hover {
        color: var(--color-especial);
        cursor: pointer;
        background-color: rgb(29, 29, 29);
    }
}

.lorax {
    width: 80%;
    margin-top: 20px;
    max-width: 100px;
}