.form {
    position: fixed;
    top: 60px;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 7;

    & fieldset {
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: black;
        color: var(--color-especial);
        border: 1px solid;
        border-radius: 3px;
        opacity: 0.95;
        margin-right: 20px;
        
        & .x {
        font-size: 24px;
        color: var(--color-especial);
        cursor: pointer;
        margin-right: -10px;
        }

        &
        svg {
            fill: var(--color-especial);
        }
        
        &
        div {
            display: flex;
        align-items: center;
        }

        & .campos {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 90%;
        }

        &
        input {
            all:unset;
        background-color: rgb(213, 231, 247);
        color: black;
        margin: 10px;
        width: 100%;
        border-radius: 5px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        padding: 5px;
        border: 2px solid rgb(213, 231, 247);

            
            &:
        hover {
                border: 2px solid var(--color-especial);
        background-color: rgb(73, 202, 116);
        cursor: pointer;
            }

            &:
        focus {
                background-color: rgb(56, 153, 88);
            }
        }

        &
        label {
            font-weight: 500;
        }
        }

        & #boton {
            position: inherit;
            justify-content: center;
            width: 150px;
            height: 2em;
            background-color: var(--color-especial);
            color: rgb(0, 0, 0);
            transition: 0.9s;
            border: none;


            &:hover {
                background-color: rgb(118, 118, 161);
                cursor: pointer;
                color: rgb(29, 28, 28);
                border: 0px;
                letter-spacing: 0.3em;

            }
        }

    .loginsign{
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        fill: var(--color-especial);
        margin:20px;
        color: var(--color-especial);
        z-index: 6;
    }

    & svg {
        padding-left: 7px;
    }

    }