@media screen and (max-width: 854px) {
    .cuadro {
        min-width: 150px;
        font-size: 80%;
    }
}

@media screen and (max-width: 500px) {
    .cuadros {
        grid-template-columns: 1fr 1fr;
    }
    .cuadros p {
        font-size: 1em;
    }
    .banner {
        width: 100vh;
    }
    pre {
        overflow: hidden;
        width: 90%;
        font-size: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form {
        width: 95%;
        font-size: 90%;

        & fieldset {
            display: flex;
            align-items: center;

            & .x {
                display: none;
            }

            & input {
            font-size: 80%;
            opacity: 0.;
            }

            & label {
                font-weight: 50%;
            }

            & #boton {
                min-width: 100px;
                height: 4em;
            }

        }
    }

    .parrafo {
        padding: 10px;
        margin: -1px;
        background-color: rgb(20, 4, 36);
        font-family: 'Poppins', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 1;

        &:hover {
            color: rgb(1, 12, 3);
            cursor: pointer;
            background-color: var(--color-especial);
        }

    .cuadro {
        display: flex;
        }
    }
    
    .menu {
        display: none;
    }

    .burguer {
        display: flex;
        z-index: 8;

        & ul li {
            display: flex;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 350px) {
    .cuadros {
        grid-template-columns: 1fr;
    }

}