a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: 0.9s;

    &:hover {
        color: var(--color-especial);
        letter-spacing: 0.1em;
        font-weight: 900;
    }

}

ul {
    list-style: none;
    padding-inline-start: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
}

li {
    list-style: none;
    text-align: center;
}

.menu {
    display: flex;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    font-family: var(--main-font);
    font-weight: 500;
    background-color: black;
    z-index: 2;
    border-bottom: var(--border-simple);
}

.burguer {
    display: none;
    /* display: flex; */
    position: fixed;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 85%;
    top: 0;
    left: 0;
    margin: 0.5em;
    font-size: 36px;
    color: var(--color-especial);
    cursor: pointer;
    z-index: 3;

    & ul {
        padding-top: 10%;
        padding-bottom: 10%;
        background-color: black;
        border: var(--border-simple);
            
            & li {
                padding: 20px;
            }
    }

    & svg {
        fill: var(--color-especial);
    }
}
