* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
    background-color: var(--color-fondo);
    margin: 0;
}

h1 {
    font-size: 140px;
    font-weight: 900;
    margin: 0;
    text-align: center;
    font-family: var(--main-font);
}

h2, h3 {
    margin: 0;
    padding: 20px 0;
    font-size: 40px;
    font-family: var(--main-font);
    font-weight: 100;
    text-align: center;
}   

div {
    display: flex;
    margin: 0;
    font-family: var(--main-font);
}

p {
    padding: 20px;
    margin-block-start: 0em;
    margin-block-end: 0em;

}

pre {
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-especial);
    color: var(--color-especial);
    border-radius: 10px;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 5%;

    &:hover {
        color: rgb(95, 2, 2);
        cursor: pointer;
        background-color: gray;
    }
}

.banner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.banner {
    font-size: 8.5rem;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;
    z-index: 5;

    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow:hidden;
    }

    @keyFrames typing {

    from { width: 0}
    }

    @keyFrames blink {
        50% { border-color: transparent}
    }
